<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель родителя</title>
  <link rel="stylesheet" th:href="@{/css/parent/index.css}">
</head>
<body>
<header>
  <p>Родитель: Иванов Иван Петрович</p>
</header>

<div class="card-container">

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Отметки</h3>
      <a class="card-link" th:href="@{/parent/grades}">Посмотреть отметки</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Учебные материалы</h3>
      <a class="card-link" th:href="@{/parent/materials}">Посмотреть материалы</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">События</h3>
      <a class="card-link" th:href="@{/parent/events}">Посмотреть события</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Замечания</h3>
      <a class="card-link" th:href="@{/parent/notes}">Посмотреть замечания</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Домашняя работа</h3>
      <a class="card-link" th:href="@{/parent/homework}">Посмотреть домашние задания</a>
    </div>
  </div>
</div>

</body>
</html>