<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель родителя</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
  <p>Родитель: Иванов Иван Петрович</p>
</header>
<nav>
  <ul>
    <li><a onclick="showSection('grades')" th:href="@{/parent/grades}">Оценки</a></li>
    <li><a onclick="showSection('materials')" th:href="@{/parent/materials}">Учебные материалы</a>
    </li>
    <li><a onclick="showSection('events')" th:href="@{/parent/events}">События</a></li>
    <li><a onclick="showSection('notes')" th:href="@{/parent/notes}">Замечания</a></li>
    <li><a onclick="showSection('homework')" th:href="@{/parent/homework}">Домашние задания</a></li>
    <li><a onclick="showSection('feedback')" th:href="@{/parent/feedback}">Обратная связь</a></li>
  </ul>
</nav>
</body>
</html>