<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель родителя</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
  <p>Родитель: Иванов Иван Петрович</p>
</header>
  <nav>
    <ul>
      <li><a th:href="@{/parent/grades}" onclick="showSection('grades')">Оценки</a></li>
      <li><a th:href="@{/parent/materials}" onclick="showSection('materials')">Учебные материалы</a></li>
      <li><a th:href="@{/parent/events}" onclick="showSection('events')">События</a></li>
      <li><a th:href="@{/parent/notes}" onclick="showSection('notes')">Замечания</a></li>
      <li><a th:href="@{/parent/homework}" onclick="showSection('homework')">Домашние задания</a></li>
      <li><a th:href="@{/parent/feedback}" onclick="showSection('feedback')">Обратная связь</a></li>
    </ul>
  </nav>
</body>
</html>