<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель учащегося</title>
  <link rel="stylesheet" th:href="@{/css/student/mark.css}">
</head>
<body>
<header>
  <h1>Школьный дневник</h1>
  <p>Класс: 7А | Ученик: Иванов Иван</p>
</header>

<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Домашняя страница</h3>
      <a class="card-link" th:href="@{/student/}">Перейти на домашнюю страницу</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Расписание</h3>
      <a class="card-link" th:href="@{/student/schedules}">Посмотреть расписание</a>
    </div>
  </div>

</div>

<main>
  <h2>Оценки</h2>
  <table class="grades-table">
    <tr>
      <th>Предмет</th>
      <th>Оценка</th>
      <th>Дата</th>
    </tr>
    <tr>
      <td>Математика</td>
      <td>5</td>
      <td>01.09.2024</td>
    </tr>
    <!-- Добавьте другие оценки -->
  </table>
</main>

<footer>
  <p>&copy; 2025 Школьный дневник | Разработано для учеников</p>
</footer>
</body>
</html>