<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель учащегося</title>
  <link rel="stylesheet" th:href="@{/css/student/schedules.css}">
</head>
<body>
<header>
  <h1>Школьный дневник</h1>
  <p>Класс: 7А | Ученик: Иванов Иван</p>
</header>

<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Домашняя страница</h3>
      <a class="card-link" th:href="@{/student/}">Перейти на домашнюю страницу</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Отметки</h3>
      <a class="card-link" th:href="@{/student/mark}">Посмотреть отметки</a>
    </div>
  </div>

</div>

<main>
  <div class="schedule-container d-flex justify-content-around">
    <div class="week-half">
      <div class="day-of-week">
        <div class="lesson-date">Понедельник</div>
        <div class="diary-entry">
          <div class="lesson-info">Русский язык</div>
          <div class="lesson-details">
            <p class="lesson-homework">Решить задачи 23-25, с. 123</p>
            <p class="lesson-time">9:00 - 10:30</p>
            <p>Кабинет: 301</p>
          </div>
        </div>
      </div>
    </div>

    <div class="week-half">
      <div class="day-of-week">
        <div class="lesson-date">Понедельник</div>
        <div class="diary-entry">
          <div class="lesson-info">Русский язык</div>
          <div class="lesson-details">
            <p class="lesson-time">9:00 - 10:30</p>
            <p>Кабинет: 301</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>