<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель администратора</title>
  <link rel="stylesheet" th:href="@{/css/admin/content.css}" type="text/css">
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet">
</head>
<body>
<div class="modal fade" id="addLesson" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить запись</h5>
        <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form action="#" id="lessonForm" method="post">
          <div class="form-group">
            <label for="lessonName">Название предмета:</label>
            <input id="lessonName" name="lessonName" required type="text">
          </div>
          <div class="form-group">
            <label for="lessonDescription">Описание предмета</label>
            <input id="lessonDescription" name="lessonDescription" required type="text">
          </div>
          <button class="btn btn-primary" type="submit">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<header>
  <h1>Панель администратора</h1>
  <p>Администратор: Иванов Иван Петрович</p>
</header>

<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Домашняя страница</h3>
      <a class="card-link" th:href="@{/admin/}">Перейти на домашнюю страницу</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Пользователи</h3>
      <a class="card-link" th:href="@{/admin/users}">Управление пользователями</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Предметы</h3>
      <a class="card-link" th:href="@{/admin/content}">Редактирование предметов</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Расписание</h3>
      <a class="card-link" th:href="@{/admin/scheduler}">Формирование расписания</a>
    </div>
  </div>

</div>
<main>
  <h2>Редактирование уроков</h2>
  <div>
    <button class="btn btn-primary" data-bs-target="#addLesson" data-bs-toggle="modal">
      Добавить урок
    </button>
  </div>
  <div
      th:if="${lessons?.size() != null and lessons?.size() > 0}"
      th:object="${lessons}">
    <table>
      <tr>
        <th style="display: none">ID</th>
        <th>Предмет</th>
        <th>Описание</th>
        <th>Действия</th>
      </tr>
      <tr th:each="lesson : ${lessons}">
        <td style="display: none" th:text="${lesson.lessonId()}"></td>
        <td th:text="${lesson.lessonName()}"></td>
        <td th:text="${lesson.description()}"></td>
        <td>
          <button class="btn-edit" data-bs-target="#editLesson" data-bs-toggle="modal">
            Редактировать
          </button>
          <button class="btn-delete" data-bs-target="#deleteLesson" data-bs-toggle="modal">
            Удалить
          </button>
        </td>
      </tr>
    </table>
  </div>
  <footer>
    <p>&copy; 2025 Панель администратора | Разработано для администрирования</p>
  </footer>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/admin/content.js}"></script>
</body>
</html>
