<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель администратора</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
  <h1>Панель администратора</h1>
  <p>Администратор: Иванов Иван Петрович</p>
</header>
<nav>
  <ul>
    <li><a onclick="showSection('users')" th:href="@{/admin/users}">Управление пользователями</a></li>
    <li><a onclick="showSection('content')" th:href="@{/admin/content}">Редактирование контента</a></li>
    <li><a onclick="showSection('roles')" th:href="@{/admin/roles}">Распределение ролей</a></li>
    <li><a onclick="showSection('classes')" th:href="@{/admin/classes}">Формирование классов</a></li>
  </ul>
</nav>
</body>