<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель администратора</title>
  <link rel="stylesheet" th:href="@{/css/admin/users.css}" type="text/css">
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet">
</head>
<body>
<div class="modal fade" id="popupModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить пользователя</h5>
        <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form action="#" id="userForm" method="post">
          <div class="form-group">
            <label for="login">Логин:</label>
            <input id="login" name="login" required type="text">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" name="email" required type="email">
          </div>
          <div class="form-group">
            <label for="firstname">Имя:</label>
            <input id="firstname" name="firstname" required type="text">
          </div>
          <div class="form-group">
            <label for="surname">Фамилия:</label>
            <input id="surname" name="surname" required type="text">
          </div>
          <div class="form-group">
            <label for="lastname">Отчество:</label>
            <input id="lastname" name="lastname" type="text">
          </div>
          <div class="form-group">
            <label for="phone">Телефон:</label>
            <input id="phone" name="phone" type="tel">
          </div>
          <div class="form-group">
            <label for="limit-date">Дата:</label>
            <input id="limit-date" name="limit-date" required type="date">
          </div>
          <div class="form-group">
            <label for="role">Роль:</label>
            <select id="role" name="role">
              <option value="admin">Администратор</option>
              <option value="teacher">Учитель</option>
              <option value="student">Ученик</option>
              <option value="parent">Родитель</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Добавить пользователя</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Изменить роль</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form action="#" id="roleForm" method="post">
          <div class="mb-3">
            <label class="form-label">Роль:</label>
            <select class="form-select" id="role-type" name="role">
              <option value="admin">Администратор</option>
              <option value="teacher">Преподаватель</option>
              <option value="parent">Родитель</option>
              <option value="student">Ученик</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Изменить роль</button>
        </form>
      </div>
    </div>
  </div>
</div>

<header>
  <h1>Панель администратора</h1>
  <p>Администратор: Иванов Иван Петрович</p>
</header>

<div class="card-container">

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Домашняя страница</h3>
      <a class="card-link" th:href="@{/admin/}">Перейти на домашнюю страницу</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Предметы</h3>
      <a class="card-link" th:href="@{/admin/content}">Редактирование предметов</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Классы</h3>
      <a class="card-link" th:href="@{/admin/classes}">Управление классами</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Расписание</h3>
      <a class="card-link" th:href="@{/admin/scheduler}">Формирование расписания</a>
    </div>
  </div>

</div>
<main>
  <h2>Управление пользователями</h2>
  <button class="btn btn-primary" data-bs-target="#popupModal" data-bs-toggle="modal">
    Добавить человека
  </button>
  <div th:if="${users?.size() != null and users?.size() > 0}" th:object="${users}">
    <table>
      <tr>
        <th style="display: none;">ID</th>
        <th>Имя пользователя</th>
        <th>Email</th>
        <th>Роль</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
      <tr th:each="user : ${users}">
        <td style="display: none" th:text="${user.id}"></td>
        <td th:text="${user.name.firstname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.isBlocked ? 'Заблокирован' : 'Активен'}"></td>
        <td>
          <button class="btn-block btn-secondary"
                  th:text="${user.isBlocked ? 'Активировать' : 'Заблокировать'}">
          </button>
          <button class="btn-edit" data-bs-target="#editModal" data-bs-toggle="modal">
            Изменить
          </button>
          <button class="btn-delete" onclick="deleteUser()">
            Удалить
          </button>
        </td>
      </tr>
    </table>
  </div>
  <footer>
    <p>&copy; 2025 Панель администратора | Разработано для администрирования</p>
  </footer>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/admin/users.js}"></script>
</body>
</html>