<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель учителя</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/teacher/grade.css}" type="text/css"/>
</head>
<body>
<div class="modal fade" id="addGrade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выставить оценку</h5>
        <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form action="#" id="gradeForm" method="post">
          <div class="form-group">
            <label for="class">Класс:</label>
            <select id="class" name="class">
              <option value="">Выберете класс</option>
            </select>
          </div>
          <div class="form-group">
            <label for="student-grade">Ученик:</label>
            <select id="student-grade" name="student">
              <option value="">Выберите ученика</option>
              <option value="ivanov">Иванов Иван</option>
              <option value="petrov">Петров Петр</option>
            </select>
          </div>
          <div class="form-group">
            <label for="lesson">Урок:</label>
            <select id="lesson" name="lesson">
              <option value="">Выберете урок</option>
            </select>
          </div>
          <div class="form-group">
            <label for="grade">Оценка:</label>
            <input id="grade" max="5" min="0" name="grade" required type="number">
          </div>
          <div class="form-group">
            <label for="date">Дата:</label>
            <input id="date" name="date" required type="date">
          </div>
          <button class="btn btn-primary" type="submit">Добавить оценку</button>
        </form>
      </div>
    </div>
  </div>
</div>
  <header>
    <h1>Панель учителя</h1>
    <p>Учитель: Петрова Елена Ивановна | Предмет: Математика</p>
  </header>

<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Домашняя страница</h3>
      <a th:href="@{/teacher/}" class="card-link">Перейти на домашнюю страницу</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Учебные материалы</h3>
      <a th:href="@{/teacher/materials}" class="card-link">Учебные материалы</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">События</h3>
      <a th:href="@{/teacher/events}" class="card-link">Перейти к событиям</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Замечания</h3>
      <a th:href="@{/teacher/notes}" class="card-link">Перейти к замечаниям</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Домашнее задания</h3>
      <a th:href="@{/teacher/homework}" class="card-link">Перейти к домашним заданиям</a>
    </div>
  </div>
</div>
<main>
  <h2>Оценки</h2>
  <div class="button-container">
  <button class="btn btn-primary" data-bs-target="#addGrade" data-bs-toggle="modal">
    Добавить отметку
  </button>
  </div>
  <div class="table-container">
  <table>
    <tr>
      <th>Класс
        <button class="sort-btn" data-column="0">↑↓</button>
      </th>
      <th>Ученик
        <button class="sort-btn" data-column="1">↑↓</button>
      </th>
      <th>Предмет
        <button class="sort-btn" data-column="2">↑↓</button>
      </th>
      <th>Оценка</th>
      <th>Дата
        <button class="sort-btn" data-column="3">↑↓</button>
      </th>
    </tr>
    <tbody>
    <tr>
      <td>7Б</td>
      <td>Иванов Иван</td>
      <td>Математика</td>
      <td>5</td>
      <td>01.09.2024</td>
    </tr>
    <tr>
      <td>10Б</td>
      <td>Иванов Иван</td>
      <td>Алгебра</td>
      <td>5</td>
      <td>01.09.2024</td>
    </tr>
    </tbody>
  </table>
  <footer>
    <p>&copy; 2025 Панель учителя | Разработано для учителей</p>
  </footer>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/teacher/grades.js}"></script>
</body>
</html>
