<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель учителя</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/teacher/homework.css}" type="text/css">
</head>
<body>
<div class="modal fade" id="addModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить домашнее задание</h5>
        <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form action="#" id="homeworkForm" method="post">
          <div class="form-group">
            <label for="hw-name">Предмет:</label>
            <select id="hw-name" name="hw-name" required type="text">
            </select>
          </div>
          <div class="form-group">
            <label for="hw-class">Класс:</label>
            <select id="hw-class" name="hw-class" required type="text">
            </select>
          </div>
          <div class="form-group">
            <label for="hw-description">Задание:</label>
            <textarea id="hw-description" name="hw-description" required></textarea>
          </div>
          <div class="form-group">
            <label for="hw-url">Ссылка:</label>
            <input id="hw-url" name="hw-url" required type="url">
          </div>
          <div class="form-group">
            <label for="hw-deadline">Дата:</label>
            <input id="hw-deadline" name="hw-deadline" required type="date">
          </div>
          <button class="btn btn-primary" type="submit">Добавить задание</button>
        </form>
      </div>
    </div>
  </div>
</div>
<header>
  <h1>Панель учителя</h1>
  <p>Учитель: Петрова Елена Ивановна | Предмет: Математика</p>
</header>
<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Домашняя страница</h3>
      <a class="card-link" th:href="@{/teacher/}">Перейти на домашнюю страницу</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Оценки</h3>
      <a class="card-link" th:href="@{/teacher/grades}">Перейти к оценкам</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Учебные материалы</h3>
      <a class="card-link" th:href="@{/teacher/materials}">Учебные материалы</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">События</h3>
      <a class="card-link" th:href="@{/teacher/events}">Перейти к событиям</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Замечания</h3>
      <a class="card-link" th:href="@{/teacher/notes}">Перейти к заданиям</a>
    </div>
  </div>
</div>
<main>
  <h2>Домашние задания</h2>
  <button class="btn btn-primary" data-bs-target="#addModal" data-bs-toggle="modal">
    Добавить домашнее задание
  </button>
  <div th:object="${homeworks}">
    <table>
      <tr>
        <th>Предмет</th>
        <th>Класс</th>
        <th>Задание</th>
        <th>Ссылка</th>
        <th>Дата</th>
        <th>Действие</th>
      </tr>
      <tr>
        <td>Математика</td>
        <td>7Б</td>
        <td>Решить задачи 23-25</td>
        <td></td>
        <td>23.04.2025</td>
        <td>
          <button class="btn-edit">Изменить</button>
        </td>
      </tr>
    </table>
  </div>
  <footer>
    <p>&copy; 2025 Панель учителя</p>
  </footer>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/teacher/homework.js}"></script>
</body>
</html>
