<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Панель учителя</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet">
  <link th:href="@{/css/teacher/index.css}" rel="stylesheet" type="text/css">
</head>
<body>
<main>
  <header>
    <h1>Панель учителя</h1>
    <p>Учитель: Петрова Елена Ивановна | Предмет: Математика</p>
  </header>

  <div class="card-container">
    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Оценки</h3>
        <a th:href="@{/teacher/grades}" class="card-link">Перейти к оценкам</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Учебные материалы</h3>
        <a th:href="@{/teacher/materials}" class="card-link">Перейти к материалам</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="card-title">События</h3>
        <a th:href="@{/teacher/events}" class="card-link">Перейти к событиям</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Замечания</h3>
        <a th:href="@{/teacher/notes}" class="card-link">Перейти к замечаниям</a>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Домашние задания</h3>
        <a th:href="@{/teacher/homework}" class="card-link">Перейти к заданиям</a>
      </div>
    </div>
  </div>



  <div class="schedule-container d-flex justify-content-around">
    <div class="week-half">
      <h2>Мое расписание</h2>
      <div class="day-of-week">
        <div class="lesson-date">Понедельник</div>
        <div class="diary-entry">
          <div class="lesson-info">Русский язык</div>
          <div class="lesson-details">
            <p class="lesson-time">9:00 - 10:30</p>
            <p>Кабинет: 301</p>
          </div>
        </div>
      </div>
    </div>

    <div class="week-half">
      <h2>Расписание класса</h2>
      <div class="day-of-week">
        <div class="lesson-date">Понедельник</div>
        <div class="diary-entry">
          <div class="lesson-info">Русский язык</div>
          <div class="lesson-details">
            <p class="lesson-time">9:00 - 10:30</p>
            <p>Кабинет: 301</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
